.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: z('header') + 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: rem-calc(32);
  color: $primary-color;
  background: rgba(0, 0, 0, 0.75);

  @include breakpoint(medium) {
    bottom: rem-calc(8);
    border-radius: rem-calc(20);
    justify-content: normal;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__wrapper {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: rem-calc(16);
    margin-right: rem-calc(16);
    margin-top: rem-calc(8);
    margin-bottom: rem-calc(8);
}
  &__company {
    display: none;

    @include breakpoint(medium) {
      display: block;
      font-size: rem-calc(20);
      font-family: 'Trajan Pro';
      
      margin-right: rem-calc(64);
    }
  }
  &__policy {
    display: none;
   
    &--shown-mobile {
      // font-size: rem-calc(16);
      display: inline-block;
      margin-left: rem-calc(64);
    }
    
    @include breakpoint(medium) {
      display: block;
      margin-left: rem-calc(64);
    }
  }
}
