.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: z('header') + 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: rem-calc(44);
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s;

  &--opened {
    width: 100vw;
    height: 100vh;
  }

  &--transparent {
    background: transparent;
  }

  &__label {
    position: fixed;
    top: rem-calc(8);
    right: rem-calc(55);

    @include breakpoint(large) {
      display: none;
    }
  }
}
