body[data-page='index'] {
  height: 10050px;
  font-size: rem-calc(14);
  background-image: url('../img/Components/Pattern/Image.png');

  @include breakpoint(large) {
    background-image: none;
  }
}

.background {
  @include breakpoint(small) {
    display: none;
  }

  @include breakpoint(medium) {
    display: block;
  }

  position: fixed;
  width: 100vw;
  height: 100vh;

  &__project {
    position: fixed;
  }

  &__patterns {
    position: fixed;
  }

  &__blocks {
    position: fixed;
  }

  &__lines-n-shines {
    position: fixed;
  }

  &__shines {
    position: fixed;
  }
}

.content {
  @include breakpoint(small) {
    display: none;
  }

  @include breakpoint(medium) {
    display: block;
  }

  position: fixed;

  &__main-header {
    position: absolute;
    width: 100vw;
    height: 48px;
    color: #f5f4ea;
    font-weight: normal;
    font-size: 40px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
  }

  &__sub-header {
    position: absolute;
    width: 500px;
    height: 37px;
    color: #f5f4ea;
    font-weight: normal;
    font-size: 31px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
  }

  &__text {
    position: absolute;
    width: 500px;
    height: 77px;
    color: #f5f4ea;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: normal;
  }

  &__button {
    position: absolute;
    color: #f5f4ea;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    // line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &__sub-text {
    position: absolute;
    text-align: center;
  }

  .sub-text--upper {
    text-transform: uppercase;
  }
}


.loader-wrapper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0d0a14;
  transition: opacity 1000ms, display 0ms;
  opacity: 1;

  &--closed {
    opacity: 0;
    display: none;
    transition: opacity 1000ms, display 0ms 1000ms;
  }



  &__gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}