.menu {
  @include menu-base;
  @include menu-direction(vertical);
  @include absolute-center;

  z-index: z('header') + 1;
  display: flex;
  justify-content: space-between;
  min-width: rem-calc(250);
  font-weight: 300;
  text-transform: uppercase;

  &--hiden {
    display: none;
  }

  &__item {
  }

  &__link {
    position: relative;
    width: auto;
    margin-top: rem-calc(20);
    font-size: rem-calc(18);
    line-height: 1.17;
    text-align: left;

    @include breakpoint(medium) {
      margin-top: 0;
      text-align: center;
    }
  }

  &__decor-number {
    display: none;

    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      left: rem-calc(-15);
      display: block;
      font-size: rem-calc(12);
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    width: rem-calc(16);
    height: rem-calc(16);
    margin-left: rem-calc(5);

    &--rotated {
      transform: rotate(90deg);
    }
  }

  @include breakpoint(medium) {
    @include menu-direction(horizontal);

    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    height: rem-calc(44);
    font-weight: 400;
    text-transform: none;
    transform: none;

    &__item {
      display: flex;
      align-items: center;
    }
  }
}

.sub-menu {
  display: none;
  margin: 0;
  // padding: 0;
  list-style: none;

  &--shown {
    display: block;
  }

  @include breakpoint(medium) {
    position: absolute;
    top: rem-calc(44);
    background: rgba(0, 0, 0, 0.8);
  }

  &__item {
    margin-top: rem-calc(15);
    padding-left: rem-calc(10);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(20);
    }
  }

  &__link {
    position: relative;
    font-size: rem-calc(16);
    line-height: 1.17;
    text-align: left;

    @include breakpoint(medium) {
      padding-right: rem-calc(15) !important;
    }
  }
}
