.button {
  position: relative;
  display: block;
  width: rem-calc(110);
  height: rem-calc(110);
  margin-right: auto;
  margin-left: auto;

  &--large {
    width: rem-calc(166);
    height: rem-calc(166);
  }

  &__body {
    position: absolute;
    top: rem-calc(16);
    right: rem-calc(16);
    width: rem-calc(77);
    height: rem-calc(77);
    border: 2px $primary-color solid;
    transform: rotate(45deg);

    &::before {
      position: absolute;
      top: rem-calc(4);
      left: rem-calc(4);
      width: rem-calc(65);
      height: rem-calc(1);
      background: $primary-color;
      content: '';
    }

    &::after {
      position: absolute;
      bottom: rem-calc(4);
      left: rem-calc(4);
      width: rem-calc(65);
      height: rem-calc(1);
      background: $primary-color;
      content: '';
    }

    &--large {
      top: rem-calc(25);
      left: rem-calc(25);
      width: rem-calc(116);
      height: rem-calc(116);

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      &-gold {
        border: 2px $gold solid;
      }
    }
  }

  &__text {
    @include absolute-center;

    color: $primary-color;
    font-size: rem-calc(14);

    &--large {
      font-size: rem-calc(20);
      text-transform: uppercase;
    }

    &-dark {
      color: $secondary-color;
    }
  }

  &__title {
    display: inline-block;
    margin: 0 auto;
    margin-top: rem-calc(8);
    font-size: rem-calc(14);
    text-align: center;
    vertical-align: middle;
  }

  &__icon {
    width: rem-calc(32);
  }

  &-wrapper {
    width: rem-calc(140);
    height: rem-calc(140);
    text-align: center;
  }
}
