.contact {
  margin-top: rem-calc(200);

  &__title {
    text-align: center;

    &--second {
      margin-top: rem-calc(120);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: rem-calc(35);
  }

  &-form {
    position: relative;
    width: 100%;
    height: rem-calc(400);
    margin-top: rem-calc(50);
  }
}
