.contact {
  margin-top: rem-calc(200);

  @include breakpoint(large) {
    @include xy-grid-container($width: rem-calc(750));
  }

  &__title {
    text-align: center;

    &--second {
      margin-top: rem-calc(120);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: rem-calc(35);
  }

  &-form {
    position: relative;
    width: 100%;
    height: rem-calc(400);
    margin-top: rem-calc(50);

    &__switch-button {
      width: 100px;
      height: 100px;
    }

    @include breakpoint(large) {
      width: 432px;
      margin: 0 auto;
      overflow: hidden;
    }

    &-wrapper {
      @include breakpoint(large) {
        position: fixed;
        width: 100vw;
        max-width: 1184px;
      }
    }
  }
}
