.content-placeholder-wrapper {
  width: rem-calc(220);
  height: rem-calc(257);
  margin-right: auto;
  margin-left: auto;

  &--small {
    width: rem-calc(142);
    height: rem-calc(172);
  }

  &__title {
    margin-top: rem-calc(8);
    margin-bottom: 0;
    font-size: rem-calc(18);
    text-align: center;
    text-transform: uppercase;

    &--small {
      font-size: rem-calc(14);
      text-transform: none;
    }
  }
}
