.gradients  {
  
}
.gradient1 {
  // display: flex;
  // justify-content: flex-end;
  float: right;
  width: rem-calc(500);
  height: rem-calc(500);
  background-image: url('../img/Gradients/gradient4-full.png');
  background-size: cover;
}
