.phone-form {
  position: absolute;
  top: 0;
  right: 0;
  transition: right 300ms;
  width: 100%;

  @include breakpoint(medium) {
    margin-top: rem-calc(50);
    
  }

  &--right {
    right: -600px;
  }
}