.products {
  margin-top: rem-calc(200);

  &-grid {
    @include xy-grid;

    justify-content: center;
  }

  &__subtitle {
    margin-top: rem-calc(25);
  }

  &__cell {
    @include xy-cell();

    @include breakpoint(medium) {
      @include xy-cell(50%);
    }
  }
}
