.project-viewer {
  position: fixed;
  z-index: z('project-viewer');
  width: 100vw;
  height: 100vh;

  &__canvas {
    position: absolute;
  }

  &__content {
    position: absolute;
    top: 50vh;
    width: 560px;
    // height: 500px;
    margin: 0 auto;
    overflow: hidden;
    transition: height 500ms 1000ms;

    &__header {
      width: 564px;
      height: 37px;
      color: #0d0a14;
      font-weight: normal;
      font-size: 31px;
      font-family: 'SF Pro Text';
      font-style: normal;
      font-stretch: normal;
      line-height: 1.19;
      letter-spacing: normal;
      text-align: center;
    }

    &__text {
      width: 560px;
      height: 112px;
      margin: 0 auto;
      color: #0d0a14;
      font-weight: normal;
      font-size: 16px;
      font-family: 'SF Pro Text';
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: justify;
      transition-duration: 150ms;
    }
  }

  &__order-button {
    position: absolute;
    width: 166px;
    height: 166px;
    transform: rotate(45deg);

    &__text {
      transform: rotate(-45deg);
    }
  }

  &--closed {
    visibility: hidden;
    transition: visibility 0ms 1000ms;

    .project-viewer__content {
      height: 0;
      transition: height 0ms;
    }
  }
}
