.product {
  position: relative;
  padding-top: rem-calc(120);
  padding-bottom: rem-calc(120);
  overflow: hidden;

  &__top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: z(product);
    width: 100%;
    height: rem-calc(118);
    background: #fefefe;
    transform: scale(1.1);
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);

    @include breakpoint(medium) {
      clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: z(product);
    width: 100%;
    height: rem-calc(118);
    background: #fefefe;
    transform: scale(1.1);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 30% 100%);

    @include breakpoint(medium) {
      clip-path: polygon(0 0, 100% 0%, 80% 100%, 20% 100%);
    }
  }

  &__hamburger-wrapper {
    position: absolute;
    z-index: z(product) + 2;
    display: block;
  }

  &__hamburger-menu {
    display: block;
  }

  &__title {
    text-align: center;
  }

  &__content {
    position: relative;
    padding-top: rem-calc(200);
    padding-bottom: rem-calc(50);
    background: #fefefe;

    @include breakpoint(medium) {
      padding-top: rem-calc(280);
    }
  }

  &__description {
    display: inline-block;
    padding-bottom: rem-calc(20);
    font-size: 17px;
  }

  &__content-placeholder {
    position: absolute;
    top: rem-calc(-70%);
    left: 50%;
    z-index: z(product) + 1;
    transform: translateX(-50%);

    &--product {
      top: rem-calc(-52);
      left: 50%;
      transform: translateX(-50%);

      @include breakpoint(medium) {
        top: rem-calc(-170);
      }
    }
  }

  &__table {
    margin-bottom: 0;
  }

  &__button {
    position: absolute;
    bottom: rem-calc(-50);
    left: 50%;
    z-index: z('product') + 1;
    transform: translateX(-50%);
  }

  &__arrow {
    position: absolute;
    top: rem-calc(250);
    right: 0;
    z-index: z('product') + 1;
    width: rem-calc(48);
    height: rem-calc(48);

    &--left {
      right: auto;
      left: 0;
      transform: rotate(180deg);
    }
  }

  &-container {
    @include xy-gutters(
      $gutters: $show-margin-gutters,
      $gutter-position: top left right
    );

    height: 100%;
  }
}
