.show {
  margin-top: rem-calc(90);

  &--cell {
    @include xy-cell(shrink, $gutters: $show-margin-gutters);

    margin-top: 0;
  }

  &--first {
    margin-top: rem-calc(50);
  }

  &__title {
    margin-top: rem-calc(25);
    text-align: center;
    font-size: 28px;
  }

  &__text {
    margin-top: rem-calc(25);
    font-size: 17px;
  }

  &-wrapper {
    margin-top: rem-calc(200);

    &__title {
      text-align: center;
      font-size: 28px;
    }

    &__subtitle {
      margin-top: rem-calc(25);
      font-size: 17px;
    }
  }

  &-grid {
    @include xy-grid();

    justify-content: center;
    margin-top: rem-calc(50);
  }
}
