.show {
  margin-top: rem-calc(90);

  &--first {
    margin-top: rem-calc(50);
  }

  &__title {
    margin-top: rem-calc(25);
    text-align: center;
  }

  &__text {
    margin-top: rem-calc(25);
  }
}
