.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: transparentize($color: $primary-color, $amount: 0.25);

  &__phone {
    display: flex;
    justify-content: space-around;
    font-size: rem-calc(16);
    align-items: center;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__number {
    display: inline-block;
    margin: 0 rem-calc(5) 0 rem-calc(5);
    color: transparentize($color: $primary-color, $amount: 0.25);

    @include breakpoint(medium) {
      display: inline-block;
      margin: 0 rem-calc(10) 0 rem-calc(10);
      color: transparentize($color: $primary-color, $amount: 0.25);
    }
    &--hiden-mobile {
      display: none;
      
      @include breakpoint(medium) {
         display: inline-block;
      }
    }
    &--hiden-tablet {
      display: inline-block;
      
      @include breakpoint(medium) {
        display: none;
      }
      
      @include breakpoint(large) {
         display: inline-block;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;

    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__image {
    width: rem-calc(24);
    height: rem-calc(24);
    margin: 0 rem-calc(10) 0 rem-calc(10);

    @include breakpoint(medium) {
      width: rem-calc(24);
      margin: 0 rem-calc(10) 0 rem-calc(10);
    }
  }
}
