<div class="footer">
  <div class="footer__wrapper">
    <span class="footer__company">LaserLink</span>
      <div class="social">
        <div class="social__phone">
          <a class="social__number social__number--hiden-mobile" href="tel:89090731727">8 (909) 073-17-27</a> 
          <a class="social__number social__number--hiden-mobile" href="tel:89777746442">8 (977) 774-64-42</a>
          <a class="social__number social__number--hiden-tablet" href="tel:88005118651">8 (800) 511-86-51</a>
        </div>
        <div class="social__icons">
          <a href="https://www.instagram.com/_laserlink_/?hl=ru">
            <img class="social__image" src="../assets/img/icons/primary/instagram.svg" alt="instagram">
          </a> 
          <a href="https://vk.com/id16573850">
            <img src="../assets/img/icons/primary/vk.svg" alt="vkontakte" class="social__image">
          </a>
          <a href="https://www.youtube.com/channel/UC1Bv2yKE-WW3lRKX2xkrhBA/videos">
            <img src="../assets/img/icons/primary/youtube.svg" alt="Youtube" class="social__image">
          </a>
        </div>
    </div>
    <a class="footer__policy" href="confidentiality.html">Конфиденциальность</a>
    <!-- <div class="rewards"><span class="rewards__text">Награды</span><img class="rewards__icon"
        src="../assets/img/icons/primary/75/arrow.svg" alt="icon-arrow">
    </div> -->
  </div>
</div>
