<div class="header ">
  <span class="header__label">Меню</span>
  <div class="hamburger-wrapper">
    <div class="hamburger-menu ">
      <div class="hamburger hamburger"></div>
    </div>
  </div>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#"> <span class="menu__decor-number">01</span>Главная</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">02</span>Шоу<img
          class="menu__icon" alt="arrow-icon" src="../assets/img/icons/primary/arrow.svg"/></a>
      <ul class="menu__sub-menu sub-menu">
        <li class="sub-menu__item"> <a class="sub-menu__link" href="#">Видеомаппинг</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Лазерное шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Мультимедийное шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Постановочные номера</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Готовые шоу</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">04</span>Партнеры</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">05</span>Оборудование</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">06</span>Контакты</a></li>
    <li class="menu__item menu__item--mobile-only"><a class="menu__link" href="confidentiality.html"><span class="menu__decor-number">06</span>Конфиденциальность</a></li>
  </ul>
</div>