<div class="header header--opened">
  <span class="header__label">Меню</span>
  <div class="hamburger-wrapper">
    <div class="hamburger-menu">
      <div class="hamburger"></div>
    </div>
  </div>
  <ul class="menu ">
    <li class="menu__item"><a class="menu__link" href="#"><i class="link__number"></i>Главная</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Шоу<img class="menu__icon"
          src="../assets/img/Icons/16px/Arrow.svg"></img></a>
      <ul class="menu__sub-menu sub-menu">
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Видеомаппинг</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Лазерное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Мультимедийное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Постановочные номера</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Партнеры</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Оборудование</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
  </ul>
</div>