<div class="header ">
  <span class="header__label header__label">Меню</span>
  <div class="hamburger-wrapper">
    <div class="hamburger-menu ">
      <div class="hamburger hamburger"></div>
    </div>
  </div>
  <ul class="menu menu--hiden">
    <li class="menu__item"><a class="menu__link" href="#"> <span class="menu__decor-number">01</span>Главная</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">02</span>Шоу<img
          class="menu__icon menu__icon--rotated" src="../assets/img/icons/primary/arrow.svg"></img></a>
      <ul class="menu__sub-menu sub-menu sub-menu--shown">
        <li class="sub-menu__item"> <a class="sub-menu__link" href="#">Видеомаппинг</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Лазерное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Мультимедийное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Постановочные номера</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">03</span>Партнеры</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">04</span>Оборудование</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#"><span class="menu__decor-number">05</span>Контакты</a></li>
  </ul>
</div>