<div class="header ">
  <span class="header__label">Меню</span>
  <div class="hamburger-wrapper">
    <div class="hamburger-menu">
      <div class="hamburger"></div>
    </div>
  </div>
  <ul class="menu menu--hiden">
    <li class="menu__item"><a class="menu__link" href="#">Главная</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Шоу<img class="menu__icon"
          src="../assets/img/Icons/16px/Arrow.svg"></img></a>
      <ul class="menu__sub-menu sub-menu">
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Видеомаппинг</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Лазерное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Мультимедийное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Постановочные номера</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Партнеры</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Оборудование</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
  </ul>
</div>
<!-- Content -->
<div class="content-wrapper">
  <img src="../assets/img/Logo.png" alt="laserlink logo" class="logo">
  <div class="logo__text">Воплощаем самое яркое представление о вашей компании в жзнь.</div>
  <div class="hero-text">
    <h1 class="hero-text__header">Создаем уникальное шоу</h1>
    <p class="hero-text__content">Воплощаем ваши мечты в жизнь. Вместа с нашей командой проффесионалов вы создаете шоу
      своей мечты, вместе мы
      пройдем путь от идеи до ее рождения в жизнь.</p>
  </div>
  <div class="show-wrapper">
    <h2 class="show-wrapper__title">Выполненные проекты по всей РФ</h2>
    <div class="show show--first">
      <div class="content-placeholder">
        <div class="content-placeholder__number">01</div>
        <div class="content-placeholder__body"></div>
        <img class="content-placeholder__icon" src="../assets/img/Icons/30px/Cube.svg"></img>
        <div class="content-placeholder__overlay"></div>
        <img class="content-placeholder__image-fill" src="../assets/img/works/main01.png" alt="">
        <a href="#" class="content-placeholder__button button">
          <div class="button__body"></div>
          <p class="button__text">Подробнее</p>
        </a>
      </div>
      <h2 class="show__title">Видеомаппинг</h2>
      <p class="show__text">3D Mapping — это технология, позволяющая с помощью видеопроекции изменять визуальные
        характеристики объекта и способная превратить практически любую поверхность в динамический видеоэкран.</p>
    </div>
    <div class="show">
      <div class="content-placeholder">
        <div class="content-placeholder__number">02</div>
        <div class="content-placeholder__body"></div>
        <img class="content-placeholder__icon" src="../assets/img/Icons/30px/Cube.svg"></img>
        <div class="content-placeholder__overlay"></div>
        <img class="content-placeholder__image-fill" src="../assets/img/works/main02.png" alt="">
        <a href="#" class="content-placeholder__button button">
          <div class="button__body"></div>
          <p class="button__text">Подробнее</p>
        </a>
      </div>
      <h2 class="show__title">Лазерное Шоу</h2>
      <p class="show__text">В лазерном анимационном шоу создается иллюзия появления изображения в воздухе, а добавление
        эффекта 3D усиливает это ощущения.</p>
    </div>
    <div class="show">
      <div class="content-placeholder">
        <div class="content-placeholder__number">03</div>
        <div class="content-placeholder__body"></div>
        <img class="content-placeholder__icon" src="../assets/img/Icons/30px/Cube.svg"></img>
        <div class="content-placeholder__overlay"></div>
        <img class="content-placeholder__image-fill" src="../assets/img/works/main03.png" alt="">
        <a href="#" class="content-placeholder__button button">
          <div class="button__body"></div>
          <p class="button__text">Подробнее</p>
        </a>
      </div>
      <h2 class="show__title">Мультимедийное Шоу</h2>
      <p class="show__text">Совмещение профессиональной хореографии ивизуальных технологий, в ходе танца, артисты на
        сцене взаимодействуют с изображением,
        создается иллюзия управления происходящим на экране.</p>
    </div>
    <div class="show">
      <div class="content-placeholder">
        <div class="content-placeholder__number">04</div>
        <div class="content-placeholder__body"></div>
        <img class="content-placeholder__icon" src="../assets/img/Icons/30px/Cube.svg"></img>
        <div class="content-placeholder__overlay"></div>
        <img class="content-placeholder__image-fill" src="../assets/img/works/main04.png" alt="">
        <a href="#" class="content-placeholder__button button">
          <div class="button__body"></div>
          <p class="button__text">Подробнее</p>
        </a>
      </div>
      <h2 class="show__title">Постановочные номера</h2>
      <p class="show__text">Взаимодействие отдельного персонажа с лучевыми эффектами,музыкальное оформление номера и
        яркие светодиодные костюмы, не оставят равнодушными никого.</p>
    </div>
  </div>
  <div class="show-wrapper">
    <h2 class="show-wrapper__title">Шоу на любой вкус</h2>
    <p class="show-wrapper__subtitle">Представляем вашему вниманию заранее подготвленные и спланированные шоу. Вам
      остается только завернуть в праздничный конверт и подарить.</p>
    <div class="show-grid">
      <div class="show show--cell">
        <div class="content-placeholder content-placeholder--small">
          <div class="content-placeholder__body content-placeholder__body--small"></div>
          <div class="content-placeholder__overlay"></div>
          <img class="content-placeholder__image-fill" src="../assets/img/works/main04.png" alt="">
        </div>
      </div>
      <div class="show show--cell">
        <div class="content-placeholder content-placeholder--small">
          <div class="content-placeholder__body content-placeholder__body--small"></div>
          <div class="content-placeholder__overlay"></div>
          <img class="content-placeholder__image-fill" src="../assets/img/works/main04.png" alt="">
        </div>
      </div>
      <div class="show show--cell">
        <div class="content-placeholder content-placeholder--small">
          <div class="content-placeholder__body content-placeholder__body--small"></div>
          <div class="content-placeholder__overlay"></div>
          <img class="content-placeholder__image-fill" src="../assets/img/works/main04.png" alt="">
        </div>
      </div>
    </div>
    <div class="partners"></div>
  </div>
  <!-- Gradients -->
  <!-- <div class="gradient">
  <div class="gradient__top"></div>
  <div class="gradient gradient__left"></div>
</div> -->