<div class="header ">
  <span class="header__label">Меню</span>
  <div class="hamburger-wrapper">
    <div class="hamburger-menu">
      <div class="hamburger"></div>
    </div>
  </div>
  <ul class="menu menu--hiden">
    <li class="menu__item"><a class="menu__link" href="#">Главная</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Шоу<img class="menu__icon"
          src="../assets/img/Icons/16px/Arrow.svg"></img></a>
      <ul class="menu__sub-menu sub-menu">
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Видеомаппинг</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Лазерное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Мультимедийное Шоу</a></li>
        <li class="sub-menu__item"><a class="sub-menu__link" href="#">Постановочные номера</a></li>
      </ul>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Партнеры</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Оборудование</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
  </ul>
</div>
<!-- Content -->
<div class="content-wrapper">
  <img src="../assets/img/Logo.png" alt="laserlink logo" class="logo">
  <div class="logo__text">Воплощаем самое яркое представление о вашей компании в жзнь.</div>
  <div class="hero-text">
    <h1 class="hero-text__header">Создаем уникальное шоу</h1>
    <p class="hero-text__content">Воплощаем ваши мечты в жизнь. Вместа с нашей командой проффесионалов вы создаете шоу
      своей мечты, вместе мы
      пройдем путь от идеи до ее рождения в жизнь.</p>
  </div>
  <div class="mobile-projects">
    <h2 class="mobile-projects__title">Выполненные проекты по всей РФ</h2>
    <div class="content-placeholder">
      <div class="content-placeholder__number">01</div>
      <div class="content-placeholder__body"></div>
      <div class="content-placeholder__icon"></div>
      <div class="content-placeholder__overlay"></div>
      <img class="content-placeholder__image-fill" src="../assets/img/shows/3dmapping.jpg" alt="">
    </div>
  </div>
</div>
<!-- Gradients -->
<!-- <div class="gradient">
  <div class="gradient__top"></div>
  <div class="gradient gradient__left"></div>
</div> -->