<div class="rewards-frame-wrapper">
  <div class="rewards-frame">
    <div class="rewards-frame__wrapper">
      <p class="rewards-frame__content">Сертификат «Pangolin Laser Systems», мирового лидера в разработке программного
        обеспечения для лазерных шоу</p>
      <div class="rewards-frame__hover-wrapper ">
        <div class="rewards-frame__hover"></div>
        <img src="../assets/img/icons/primary/magnifier.svg" alt="magnifier" class="rewards-frame__hover-icon">
        <img src="../assets/img/award.jpg" alt="" class="rewards-frame__image">
      </div>
    </div>
    <div class="rewards-frame__wrapper">
      <p class="rewards-frame__content">Сертификат «Pangolin Laser Systems», мирового лидера в разработке программного
        обеспечения для лазерных шоу</p>
      <div class="rewards-frame__hover-wrapper ">
        <div class="rewards-frame__hover"></div>
        <img src="../assets/img/icons/primary/magnifier.svg" alt="magnifier" class="rewards-frame__hover-icon">
        <img src="../assets/img/award2.jpg" alt="" class="rewards-frame__image">
      </div>
    </div>
    <div class="rewards-frame__wrapper">
      <p class="rewards-frame__content">Сертификат «Pangolin Laser Systems», мирового лидера в разработке программного
        обеспечения для лазерных шоу</p>
      <div class="rewards-frame__hover-wrapper ">
        <div class="rewards-frame__hover"></div>
        <img src="../assets/img/icons/primary/magnifier.svg" alt="magnifier" class="rewards-frame__hover-icon">
        <img src="../assets/img/award.jpg" alt="" class="rewards-frame__image">
      </div>
    </div>
    <div class="rewards-frame__wrapper">
      <p class="rewards-frame__content">Сертификат «Pangolin Laser Systems», мирового лидера в разработке программного
        обеспечения для лазерных шоу</p>
      <div class="rewards-frame__hover-wrapper ">
        <div class="rewards-frame__hover"></div>
        <img src="../assets/img/icons/primary/magnifier.svg" alt="magnifier" class="rewards-frame__hover-icon">
        <img src="../assets/img/award2.jpg" alt="" class="rewards-frame__image">
      </div>
    </div>
  </div>
</div>