<div class="rewards-fullscreen ">
  <div class="rewards-fullscreen__hamburger-wrapper hamburger-wrapper">
    <div class="rewards-fullscreen__hamburger-menu hamburger-menu">
      <div class="hamburger hamburger--animated"></div>
    </div>
  </div>
  <img class="rewards-fullscreen__image" alt="">
</div>

<div class="js-rewards-images"
  data-src='["./assets/img/award.jpg","./assets/img/award2.jpg","./assets/img/award.jpg","./assets/img/award2.jpg"]'
  data-alt='["alt1","alt2","alt3", "alt4"]'></div>